:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container{
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid ;
}
#grid {
  display: grid;
  max-width: auto;
  min-height: 600px;
  border: 1px solid var(--border);
  grid-template-rows: repeat(vara(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-item {
 padding: 0;
 border: 1px solid #ddd;
}

